@model KTRS.Models.Kat
@{
    ViewData["Title"] = "Kat Ekle";
    var blockId = Model.BlockId;
}

<h2>Kat Ekle</h2>

<form method="post" asp-action="Create">
    <input type="hidden" asp-for="BlockId" value="@blockId"/>
    <div class="form-group">
        <label>Kat No</label>
        <input asp-for="KatNo" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
    <a asp-action="Index" asp-route-blockId="@blockId" class="btn btn-secondary">İptal</a>
</form>
