@model KTRS.Models.Kat
@{
    ViewData["Title"] = "Kat Sil";
}

<h2>Kat Sil</h2>

<div>
    <h4>@($"Blok Id: {Model.BlockId} - KatNo: {Model.KatNo}")</h4>
    <form method="post" asp-action="DeleteConfirmed" asp-route-id="@Model.Id">
        <p>Bu katı silmek istediğinize emin misiniz?</p>
        <button type="submit" class="btn btn-danger">Sil</button>
        <a asp-action="Index" asp-route-blockId="@Model.BlockId" class="btn btn-secondary">İptal</a>
    </form>
</div>
