@model KTRS.Models.Kat
@{
    ViewData["Title"] = "Kat Düzenle";
}

<h2>Kat Düzenle</h2>

<form method="post" asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="BlockId" />

    <div class="form-group">
        <label>Kat No</label>
        <input asp-for="KatNo" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
    <a asp-action="Index" asp-route-blockId="@Model.BlockId" class="btn btn-secondary">İptal</a>
</form>
