@model KTRS.Models.Koltuk
@{
    ViewData["Title"] = "Koltuk Ekle";
    var katId = Model.KatId;
}

<h2>Koltuk Ekle</h2>

<form method="post" asp-action="Create">
    <!-- ID olmayacak (otomatik) -->
    <input type="hidden" asp-for="KatId" value="@katId"/>
    <div class="form-group">
        <label>Koltuk No</label>
        <input asp-for="KoltukNo" class="form-control" />
    </div>
    <div class="form-group">
        <label>Durum (true/dolu, false/boş)</label>
        <input asp-for="Durum" class="form-control" />
    </div>
    <div class="form-group">
        <label>Açıklama</label>
        <input asp-for="Aciklama" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
    <a asp-action="Index" asp-route-katId="@katId" class="btn btn-secondary">İptal</a>
</form>
